
.searchBar {
    margin-top: 40px;
}

.datas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.datas .data {
    /* background-color: #f3f3f3; */
    max-width: 450px;
    padding: 20px;
    border: 2px solid #1c1c1ca0;
    border-radius: 4px;
    width: 100%;
    display: flex;
    gap: 10px;
    cursor: pointer;
}



.data .imageDiv {
    width: 50%;
}

.data .textDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}
.data .titleLink {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    font-weight: bold;
}
.data .price{
    font-weight: bold;
    font-size: 1.2rem;
    padding-left: 10px;
    margin-bottom: 40px;
}

.data img {
    height: 150px;
}



@media (min-width:992px) {

    .datas .data {
        width: 380px;
    }
    .imageDiv img {
        height: 180px;
    }
}
@media (min-width:1200px) {

    .datas .data {
        width: 450px;
    }
    .imageDiv img {
        height: 200px;
    }
}