

.UniqueProduct .imgDiv {
    margin-bottom: 20px;
}

.UniqueProduct .imgDiv div:first-of-type h1 {
    margin-bottom: 40px;
}
.UniqueProduct .imgDiv div:last-of-type img {
    height: 300px;
}

.UniqueProduct .textDiv {
    width: 90%;
    display: flex;
    flex-direction: column;
}
.UniqueProduct .textDiv p {
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 0.925rem;
}
.UniqueProduct .textDiv button {
    align-self: center;
    width: 200px;
}