

.Navbar {
    width: 100vw;
    padding: 20px;
    box-sizing: border-box;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #1c1c1c;
    color: white;
}

.Navbar .logo img {
    height: 25px;
}
.Navbar .links {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}


.Navbar .links div {
    cursor: pointer;
}
.Navbar .NavBasket i {
    cursor: pointer;
}


.Navbar #log {
    display: flex;
    gap: 10px;
    margin-left: 20px;
}
.Navbar #log div {
    cursor: pointer;
}

.Navbar #log p {
    color: rgba(221, 221, 221, 0.7);
    cursor: default;
}

.buttons {
    display: flex;
    gap: 30px;
    align-items: center;
}

.burgerButton i {
    height: 26px;
    width: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    border-radius: 4px;
    cursor: pointer;
}
.burgerButton .linksBurger {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #1c1c1c;
    padding: 20px;
    right: 0%;
}
.linksBurger div {
    cursor: pointer;
}
.linksBurger #log {
    margin-top: 20px;
}
