
.Login h1 {
    color: #1c1c1c;
    text-align: center;
}

.Login .container div:first-of-type {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.Login input {
    font-size: 1rem;
    padding: 8px 20px 8px 20px;
    border: 2px solid #1c1c1c;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0);
    color: #1c1c1c;
}
.Login input:focus {
    outline: 2px solid #1c1c1c
}

.Login .container div:last-of-type {
    display: flex;
    justify-content: center;
}
.Login button {
    font-size: 1rem;
    padding: 8px 20px 8px 20px;
    color: #1c1c1c;
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid #1c1c1c;
    border-radius: 20px;
}
.Login button:active {
    background-color: #1c1c1c2c;
    outline: none;
}
.Login button:focus {
    outline: none
}