body, h1, h2, h3, p {
    margin: 0;
}

button {
    cursor: pointer;
}


.supraContainer {
    min-height: 100vh;
    max-width: 100vw;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    background-color: #ffffff;
}

.container {
    width: 100vw;
    min-height: 100vh;
    padding: 5%;
    padding-top: 100px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
